@import url('https://fonts.googleapis.com/css2?family=Calibri:wght@400;500;600&display=swap');

/* city master */

.form-container{
    background-color: rgb(236, 238, 240);
    padding: 0px !important;
    min-height: 90vh;
    display: flex;
    
  }
  .css-zxdg2z {
    padding:0px !important;
  }
  .custom-select .MuiInputBase-root:before,
  .custom-select .MuiInputBase-root:after {
    display: none !important;
  }
  
  
  .custom-textfield .MuiFilledInput-root,
  .custom-select .MuiFilledInput-root
  {
      background-color: transparent;
      border: 1px solid #e0e0e0;
      border-radius: 5px !important;
      overflow: hidden !important;
    }
  
    
    .custom-textfield .css-hwkq3c-MuiInputBase-root-MuiFilledInput-root:hover
    {
      background-color: transparent !important;
  }
  .css-utk17j-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:hover {
    background-color: transparent !important;
  }
  .custom-textfield .MuiFilledInput-root:before,
  .custom-textfield .MuiFilledInput-root:after
  {
    display: none !important; 
  }
  .custom-textfield .MuiFilledInput-root.Mui-focused,
  .custom-select .MuiFilledInput-root.Mui-focused
  {
    background-color: transparent;
    border: 1px solid #673ab7; 
  }
    .custom-textfield .MuiFilledInput-root.Mui-focused {
      border: 1px solid #673ab7;
    }
    .custom-select .MuiSelect-select:focus {
      background-color: transparent;
    }
    .custom-textfield .MuiInputLabel-root.Mui-focused {
      color: #673ab7;
    }
  
    .form_grid{
      width: 80% !important;
      height: auto;
      margin: auto !important;
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
      border-radius: 8px;
    padding: 0px 20px 20px 20px;
    background-color: #fff;
    }
    .rasidant_grid{
      width: 95% !important;
      height: auto;
      margin: auto !important;
      border-radius: 8px;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    }
   
    @media (max-width: 768px) {
      .form_grid {
        width: 90% !important;
       }
      
    }
    .form_title{
      padding-top: 0px !important;
    }
  
    .form_button{
      display: flex;
      justify-content: end;
  
    }
    .form_button button{
      background-color: #635BFF !important;
    }
    .custom-textfield .MuiInputBase-input {
      padding: 23px 12px 1px !important;
    }
    .custom-select label{
      line-height: 17px !important;
    }
    .custom-textfield label{
      line-height: 17px !important;
    }

    .search_textfield .css-1o6z5ng{
      padding: 3px 6px !important;
    }

    .three-d-button-previous {
      background: linear-gradient(290deg, #d4d4d4, #d4d4d4) !important;
      border: 0.5px solid #d4d4d4 !important;
      width: 68px !important;
      height: 34px !important;
    }

    .three-d-button-next {
      background: linear-gradient(290deg, #b9d0e9, #e9f2fa) !important;
      border: 0.5px solid #a7c5e9 !important;
      width: 68px !important;
      height: 34px !important;
    }

    .MuiFilledInput-root{
      padding-top: 0px !important;
      padding-left: 0px !important;
    }
   
    .custom-textfield .MuiFilledInput-root.Mui-disabled {
      background-color: transparent !important; 
    }
    .MuiStepLabel-alternativeLabel{
      margin-top: 0px !important;
    }
    